# Files
*.o
*~
*.mcs
bases.txt
players.txt
make.depend*
*.stackdump

# applications
mcproxy
mcpdump
argtest
varint
nbttest
mcproxy.exe
varint.exe

# directories
saved
schematic
bplan
png
csv
projects
.vscode
database
